body {
  font-family: sans-serif;
}
label {
  font-weight: bold;
}
.wrapper {
  display: flex;
}
.display-panel {
  width: 250px;
}
#output {
  background: hsla(276, 96%, 80%, .5);
  height: 300px;
  overflow-y: scroll;
  padding: 1rem;
}
button {
  background: #88cdd5;
  border: 0;
  color: #222;
  font-size: 18px;
  padding: .5em 1em;
}
.footer {
  margin-top: -15px;
}
